<template>
	<canvas
		:ref="renderer.context.value.canvasElement"
		style="background-color: #000; max-width: 100%; height: auto;"
	/>
	<slot v-if="isReady" />
</template>

<script setup lang="ts">
import { EffectComposer } from 'postprocessing';
import { Camera, FogBase, Scene, WebGLRenderer } from 'three';
import { ref, Ref, watch } from 'vue';
import { RendererOpts, useRenderer } from '../hooks/useRenderer';

const props: Partial<RendererOpts> = defineProps<{
	size?: { width: number, height: number };
	renderer?: Ref<WebGLRenderer|null>;
	composer?: Ref<EffectComposer|null>;
	scene?: Scene;
	camera?: Camera;
	clearColor?: number;
	fog?: FogBase;
	isHighQuality?: boolean;
}>();

const renderer = useRenderer({
	...props,
});

const isReady = ref(false);

watch(renderer.isReady, (value) => {
	isReady.value = value;
	if (value) console.log("renderer is ready!");
});
</script>
