<template>
	<slot />
</template>

<script setup lang="ts">
import { createGLTFModel, useGLTFModel } from '../hooks/useGLTFModel';

const props = defineProps<{
	model: string;
}>();

// TODO: must be ref'd and awaited by runBlocking()
const model = await createGLTFModel(props.model);
useGLTFModel(model);
</script>
