<template>
	<slot />
</template>

<script setup lang="ts">
import { Euler, Group, Quaternion, Vector3 } from 'three';
import { useContextTransform, useThreeObject } from '../utils/hooks';
import { Vector3Like, toVector3 } from '../utils/vector';

const props = defineProps<{
	position?: Vector3Like,
	scale?: Vector3Like,
	quaternion?: Quaternion,
	euler?: Euler,
	replace?: boolean,
}>();

const obj = new Group();

useContextTransform((ctx) => {
	if (props.position) {
		obj.position.copy(toVector3(props.position));
	}

	if (props.scale) {
		obj.scale.copy(toVector3(props.scale));
	}

	if (props.quaternion) {
		obj.quaternion.copy(props.quaternion);
	}

	if (props.euler) {
		obj.quaternion.copy(new Quaternion().setFromEuler(props.euler));
	}

	obj.updateMatrix();

	return {
		...ctx,
		object: obj,
	};
});

useThreeObject(obj);
</script>
