<template>
	<slot />
</template>

<script setup lang="ts">
import { Material } from 'three';
import { useContextTransform } from '../utils/hooks';

const props = defineProps<{
	material: Material,
}>();

useContextTransform((ctx) => ({
	...ctx,
	material: props.material,
}));
</script>
