<template>
	<ThreeObject :object="mesh">
		<slot />
	</ThreeObject>
</template>

<script setup lang="ts">
import { BufferGeometry, Mesh } from 'three';
import { injectContext } from '../utils/hooks';
import ThreeObject from './ThreeObject.vue';

const props = defineProps<{
	geometry: BufferGeometry,
}>();

const context = injectContext();

const mesh = new Mesh(
	props.geometry,
	context.value.material,
);
</script>
