<template />

<script setup lang="ts">
import { onMounted } from 'vue';
import { injectContext } from '../utils/hooks';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';

const ctx = injectContext();

onMounted(() => {
	new OrbitControls(ctx.value.camera, ctx.value.canvasElement.value!);
});
</script>