<template>
	<slot />
</template>

<script setup lang="ts">
import { Object3D } from 'three';
import { useContextTransform, useThreeObject } from '../utils/hooks';

const props = defineProps<{
	object: Object3D,
}>();

useThreeObject(props.object);

useContextTransform((ctx) => ({
	...ctx,
	object: props.object,
}));
</script>
